body {
  background: #fafafa;
}
.background {
  width: 100%;
  height: 30vh;
  position: absolute;
  background: url(images/background.png) repeat-x;
  animation: slideRight 600s infinite ease-in;
  bottom: 0;
}
@keyframes slideRight {
  from {
    background-position: 700000%;
  }
  to {
    background-position: 0;
  }
}

.dino {
  width: 60px;
  height: 60px;
  background: green;
  position: absolute;
  bottom: 0;
  background: url(images/dino.png);
}

.cactus {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  background: url(images/cactus.png);
}

.game-over {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #656656;
}
